* {margin:0;box-sizing: border-box;}

#main-container {
  height:90vh;
}

#pres-container {
  width: 100%;
  height: 20vh;
  padding: 5vh;
  text-align: center;
}

#sim-container {
  width: 100%;
  height: 70vh;
}

#sim-container > div {
  width:50%;
  height: 100%;
}

#left-container {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#right-container {
  float: right;
  padding: 2vh 2vw;
}

#sim-controllers {
  width: 100%;
  padding: 20px;
}

#redshift-display {
  width: 100%;
  padding: 20px;
}

#redshift-gradient-display {
  width: min(66vh,46vw);
  height: min(66vh,46vw);
  margin:auto;
}

.wavelength-color {
  display: inline-block;
  height:1em;
  width: 1em;
  background-color: black;
  border-radius: 100%;
}

span.tooltip {
  display:inline-block;
  width:-webkit-calc(1em + 2px);
  height:-webkit-calc(1em + 2px);
  width:calc(1em + 2px);
  height:calc(1em + 2px);
  margin: 0 0.5em;
  border-radius:100%;
  text-align:center;
  -webkit-box-shadow: 0 0 0.5em grey;
  -moz-box-shadow: 0 0 0.5em grey;
  box-shadow: 0 0 0.5em grey;
}

footer {
  height:10vh;
  position:fixed;
  bottom:0;
  width:100%;
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
