* {margin:0;box-sizing: border-box;}

#pres-container {
  width: 100%;
  height: 20vh;
  padding: 5vh;
  text-align: center;
}

#sim-container {
  width: 100%;
  height: 80vh;
}

#sim-container > div {
  padding: 20px;
}

#sim-controllers {
  width: 50%;
  float: left;
  height: 100%;
}

#sim-display {
  width: 50%;
  float: right;
  height: 100%;
}
